:root {
    background-color: #f5f5f5;
    color: #222;
}

.dark-theme {
    @include mat.all-component-themes($dark-theme);

    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);

    a {
        color: var(--md-sys-color-primary);
    }

    .card,
    .header,
    .content {
        background-color: var(--md-sys-color-surface-container-highest);
        color: var(--md-sys-color-on-surface);
    }

}